
@{
    ViewBag.Title = "index";
}
<style>
    .container1 {
        width: 400px;
        height: 160px;
        background: transparent url('../../Images/test_position.jpg')no-repeat right ;
   background-position:right 0px;
        border: 5px solid green;
        padding:50px;
    }
</style>
<h2>index</h2>

<div class="container1">

  
</div>